Repository boostcampwm2023/web05-AlgoITNi, pull requests merged in 2023-12, with the labels that each got.

#179 [FE] 프론트엔드 배포
  backEnd/api/src/common/utils.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
  frontEnd/src/assets/click.svg
  frontEnd/src/assets/micOn.svg
  frontEnd/src/assets/videoOn.svg
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/SectionWrapper.tsx
  frontEnd/src/components/modal/Modals.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
  frontEnd/src/components/room/chatting/ScrollDownButton.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/EditorHeader.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LanguageTypeDropDown.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/components/room/quizView/QuizIframe.tsx
  frontEnd/src/configs/highlightCodeConfig.ts
  frontEnd/src/hooks/useModal.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/stores/useModalState.ts
  frontEnd/src/utils/highlightCode.ts
  frontEnd/tailwind.config.js
  frontEnd/vite.config.ts
Labels: release, FrontEnd

#180 [FE] feat: UI 버튼 수정 & 로컬 다운로드 버튼 오류 해결
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/utils/file.ts
Labels: enhancement, FrontEnd, fix

#182 [BE] feature : transaction 적용 및 에러 fix
  backEnd/api/.gitignore
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/codes/codes.service.ts
  backEnd/api/src/common/decorator/typeormTransactional.decorator.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/src/users/users.service.ts
  backEnd/api/test/loadtest.js
  backEnd/api/test/v1-stress.yml
  backEnd/api/test/v2-stress.yml
  backEnd/api/test/v3-stress.yml
  backEnd/running/Dockerfile
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/mq/mq.consumer.ts
Labels: feature, BackEnd, fix

#185 [FE] feat: AI 채팅 구현
  frontEnd/src/components/common/ChattingErrorToast.tsx
  frontEnd/src/components/common/Spinner.tsx
  frontEnd/src/components/common/ToggleAi.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ScrollDownButton.tsx
  frontEnd/src/constants/chattingErrorResponse.ts
  frontEnd/src/types/chatting.ts
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#186 [FE] fix: 코드 실행 소켓 방식으로 변경
  frontEnd/src/apis/postRunCode.ts
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
Labels: enhancement, FrontEnd

#187 [FE] fix: 에디터 높이 수정
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/pages/Room.tsx
Labels: FrontEnd, fix

#189 [FE] 프론트엔드 배포
  .github/workflows/back-chat-cd.yml
  backEnd/api/.gitignore
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/codes/codes.service.ts
  backEnd/api/src/common/decorator/typeormTransactional.decorator.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/crawler/crawler.service.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/src/users/users.service.ts
  backEnd/api/test/loadtest.js
  backEnd/api/test/v1-stress.yml
  backEnd/api/test/v2-stress.yml
  backEnd/api/test/v3-stress.yml
  backEnd/chat/Dockerfile
  backEnd/chat/package-lock.json
  backEnd/chat/package.json
  backEnd/chat/src/app.module.ts
  backEnd/chat/src/chat/chat.gateway.spec.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/chat/src/chat/chat.module.ts
  backEnd/chat/src/chat/chat.service.ts
  backEnd/chat/src/chat/dto/llm-history.dto.ts
  backEnd/chat/src/chat/dto/llm-message.dto.ts
  backEnd/chat/src/chat/dto/llm-request.dto.ts
  backEnd/chat/src/chat/dto/llm-response.dto.ts
  backEnd/chat/src/chat/dto/message.dto.ts
  backEnd/chat/src/chat/schemas/llmHistory.schemas.ts
  backEnd/chat/src/commons/testUtils.ts
  backEnd/chat/src/commons/utils.ts
  backEnd/running/Dockerfile
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/mq/mq.consumer.ts
  backEnd/signaling/src/webRTC/web-rtc.gateway.ts
  frontEnd/src/apis/postRunCode.ts
  frontEnd/src/components/common/ChattingErrorToast.tsx
  frontEnd/src/components/common/Spinner.tsx
  frontEnd/src/components/common/ToggleAi.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ScrollDownButton.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/constants/chattingErrorResponse.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/types/chatting.ts
  frontEnd/tailwind.config.js
Labels: release, FrontEnd

#188 [FE] fix: 111번 이슈에 대한 개선
  frontEnd/src/assets/setting.svg
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/SectionWrapper.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/LinkInputModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/SettingModal.tsx
  frontEnd/src/components/room/modal/setting/AudioSetting.tsx
  frontEnd/src/components/room/modal/setting/VideoSetting.tsx
  frontEnd/src/components/room/quizView/ClickToQuizInput.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
Labels: FrontEnd, fix

#190 [FE] 프론트엔드 배포
  frontEnd/src/assets/setting.svg
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/SectionWrapper.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/LinkInputModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/SettingModal.tsx
  frontEnd/src/components/room/modal/setting/AudioSetting.tsx
  frontEnd/src/components/room/modal/setting/VideoSetting.tsx
  frontEnd/src/components/room/quizView/ClickToQuizInput.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
Labels: release, FrontEnd

#191 [FE] fix: 비디오 권한이 없는 경우 검은 화면으로 처리
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/video/MyVideo.tsx
  frontEnd/src/components/room/video/OtherVideos.tsx
  frontEnd/src/components/setting/EmptyVideo.tsx
  frontEnd/src/components/setting/MicControlButton.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/VideoControlButton.tsx
Labels: FrontEnd, fix

#192 [FE] feat: Yjs CRDT 추가
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/contexts/crdt.tsx
  frontEnd/src/hooks/useDataChannelOnMessage.ts
Labels: feature, FrontEnd

#193 [BE] feature, refactor : 부하테스트 후 코드 개선, 언어 지원 확대
  backEnd/api/Dockerfile
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/codes/dto/getCode.dto.ts
  backEnd/api/src/codes/dto/saveCode.dto.ts
  backEnd/api/src/codes/pipes/saveCode.pipe.ts
  backEnd/api/src/codes/schemas/code.schemas.ts
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/api/src/common/supportLang.ts
  backEnd/api/src/common/type.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/mq/mq.module.ts
  backEnd/api/src/mq/mq.service.ts
  backEnd/api/src/run/dto/request-codeblock.dto.ts
  backEnd/api/src/run/pipes/saveCode.pipe.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/test/v1-stress.yml
  backEnd/api/test/v2-stress.yml
  backEnd/api/test/v3-stress.yml
  backEnd/running/.gitignore
  backEnd/running/Dockerfile
  backEnd/running/src/codes/codes.controller.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/common/type.ts
  backEnd/running/src/common/utils.ts
  backEnd/running/src/mq/mq.consumer.ts
Labels: enhancement, feature, BackEnd

#195 [FE] refactor: roomConfigData 전역 state로 관리
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/stores/useRoomConfigData.ts
Labels: enhancement, FrontEnd, fix

#197 fix: [FE] 채팅 소켓 에러 핸들링 수정
  frontEnd/src/components/room/ChattingSection.tsx
Labels: FrontEnd, fix

#199 feat: [FE] 코드 실행 JAVA, C 추가
  frontEnd/src/configs/highlightCodeConfig.ts
  frontEnd/src/constants/editor.ts
  frontEnd/src/types/editor.ts
Labels: feature, FrontEnd

#200 [FE] 프론트엔드 배포
  backEnd/api/Dockerfile
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/codes/dto/getCode.dto.ts
  backEnd/api/src/codes/dto/saveCode.dto.ts
  backEnd/api/src/codes/pipes/saveCode.pipe.ts
  backEnd/api/src/codes/schemas/code.schemas.ts
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/api/src/common/supportLang.ts
  backEnd/api/src/common/type.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/mq/mq.module.ts
  backEnd/api/src/mq/mq.service.ts
  backEnd/api/src/run/dto/request-codeblock.dto.ts
  backEnd/api/src/run/pipes/saveCode.pipe.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/test/v1-stress.yml
  backEnd/api/test/v2-stress.yml
  backEnd/api/test/v3-stress.yml
  backEnd/running/.gitignore
  backEnd/running/Dockerfile
  backEnd/running/src/codes/codes.controller.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/common/type.ts
  backEnd/running/src/common/utils.ts
  backEnd/running/src/mq/mq.consumer.ts
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/video/MyVideo.tsx
  frontEnd/src/components/room/video/OtherVideos.tsx
  frontEnd/src/components/setting/EmptyVideo.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/MicControlButton.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/components/setting/VideoControlButton.tsx
  frontEnd/src/configs/highlightCodeConfig.ts
  frontEnd/src/constants/editor.ts
  frontEnd/src/contexts/crdt.tsx
  frontEnd/src/hooks/useDataChannelOnMessage.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/main.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/stores/useDataChannels.ts
  frontEnd/src/stores/useRoomConfigData.ts
  frontEnd/src/types/editor.ts
  frontEnd/src/utils/file.ts
Labels: release, FrontEnd

#201 [FE] feat: 한국어 crdt 구현
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
Labels: feature, FrontEnd

#202 [FE] 프론트엔드 배포
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
Labels: release, FrontEnd

#209 [BE] fix: running 서버 실행 옵션 수정
  backEnd/api/src/run/run.gateway.ts
  backEnd/running/Dockerfile
Labels: BackEnd, fix

#212 [FE] roomConfig 상태를 통해 Connection을 핸들링 하도록 처리
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/stores/useRoomConfigData.ts
Labels: enhancement, feature, FrontEnd

#216 [FE] 프론트엔드 배포
  backEnd/api/src/run/run.gateway.ts
  backEnd/running/Dockerfile
  frontEnd/src/assets/MicOffSvg.tsx
  frontEnd/src/assets/MicOnSvg.tsx
  frontEnd/src/assets/VideoOffSvg.tsx
  frontEnd/src/assets/VideoOnSvg.tsx
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/Header.tsx
  frontEnd/src/components/common/MediaControlButton.tsx
  frontEnd/src/components/common/tests/MediaControlButton.test.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/MicControlButton.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/components/setting/UserInputArea.tsx
  frontEnd/src/components/setting/VideoControlButton.tsx
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/stores/useRoomConfigData.ts
  frontEnd/tailwind.config.js
Labels: release, FrontEnd

#215 [FE] refactor: Chatting Section 리팩토링
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/hooks/tests/useInput.test.ts
  frontEnd/src/hooks/useInput.ts
  frontEnd/src/hooks/useLastMessageViewingState.ts
  frontEnd/src/hooks/useScroll.ts
Labels: enhancement, FrontEnd

#219 [FE] fix: 로그인 리다이렉트시 방설정 창이 보이는 오류 해결
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/pages/Room.tsx
Labels: FrontEnd, fix

#221 [FE] feat:언어별로 이미지를 다르게 렌더링 하도록 처리
  frontEnd/public/cFile.png
  frontEnd/public/javaFile.png
  frontEnd/public/javascriptFile.png
  frontEnd/public/kotlinFile.png
  frontEnd/public/pythonFile.png
  frontEnd/public/swiftFile.png
  frontEnd/src/components/room/modal/codeList/CodeFileButton.tsx
Labels: feature, FrontEnd

#222 [FE] refactor: 채팅 영역 리팩토링
  frontEnd/src/components/common/ChattingErrorToast.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
  frontEnd/src/hooks/useInput.ts
Labels: enhancement, FrontEnd

#225 [FE] feat: 카메라 권한을 받지 못하는 경우 처리
  frontEnd/src/components/setting/UserInputArea.tsx
  frontEnd/src/hooks/useMedia.ts
  frontEnd/src/stores/useRoomConfigData.ts
Labels: feature, FrontEnd

#226 refactor: [FE] MediaControlButton 개선
  frontEnd/src/assets/micOff.svg
  frontEnd/src/assets/micOn.svg
  frontEnd/src/assets/videoOff.svg
  frontEnd/src/assets/videoOn.svg
  frontEnd/src/components/common/MediaControlButton.tsx
  frontEnd/src/components/common/MicControlButton.tsx
  frontEnd/src/components/common/VideoControlButton.tsx
  frontEnd/src/components/common/tests/MediaControlButton.test.tsx
  frontEnd/src/components/common/tests/MicControlButton.test.tsx
  frontEnd/src/components/common/tests/VideoControlButton.test.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/setting/MicControlButton.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/VideoControlButton.tsx
Labels: enhancement, FrontEnd

#227 feat: [FE] Room 반응형 추가
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/video/MyVideo.tsx
  frontEnd/src/components/room/video/OtherVideos.tsx
  frontEnd/src/pages/Room.tsx
Labels: enhancement, FrontEnd

#228 [FE] 프론트엔드 배포
  backEnd/api/src/run/run.gateway.ts
  frontEnd/src/assets/micOff.svg
  frontEnd/src/assets/micOn.svg
  frontEnd/src/assets/videoOff.svg
  frontEnd/src/assets/videoOn.svg
  frontEnd/src/components/common/MediaControlButton.tsx
  frontEnd/src/components/common/MicControlButton.tsx
  frontEnd/src/components/common/VideoControlButton.tsx
  frontEnd/src/components/common/tests/MediaControlButton.test.tsx
  frontEnd/src/components/common/tests/MicControlButton.test.tsx
  frontEnd/src/components/common/tests/VideoControlButton.test.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/video/MyVideo.tsx
  frontEnd/src/components/room/video/OtherVideos.tsx
  frontEnd/src/components/setting/MicControlButton.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/UserInputArea.tsx
  frontEnd/src/components/setting/VideoControlButton.tsx
  frontEnd/src/hooks/useMedia.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/stores/useRoomConfigData.ts
Labels: release, FrontEnd

#230 [FE] fix: 채팅 한글 입력 두 번 전송되는 문제 해결
  frontEnd/src/components/room/chatting/ChattingInput.tsx
Labels: FrontEnd, fix

#232 [FE] 프론트엔드 배포
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/crawler/crawler.service.ts
  backEnd/chat/package-lock.json
  backEnd/chat/package.json
  backEnd/chat/src/chat/chat-kafka.gateway.ts
  backEnd/chat/src/chat/chat-single.gateway.ts
  backEnd/chat/src/chat/chat.module.ts
  backEnd/chat/src/commons/utils.ts
  backEnd/chat/src/main.ts
  frontEnd/src/components/room/chatting/ChattingInput.tsx
Labels: release, FrontEnd

#233 fix: [BE] redis 채널 구독 방식 수정
  backEnd/chat/src/chat/chat.gateway.spec.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/chat/src/commons/utils.ts
Labels: BackEnd, fix

#234 [FE] feat: 채팅, 문제보기 오류 처리
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/quizView/ClickToQuizInput.tsx
  frontEnd/src/components/room/quizView/ErrorView.tsx
Labels: FrontEnd, fix

#237 [FE] 프론트엔드 배포
  backEnd/api/src/crawler/crawler.controller.ts
  backEnd/chat/src/chat/chat.gateway.spec.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/chat/src/commons/utils.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/quizView/ClickToQuizInput.tsx
  frontEnd/src/components/room/quizView/ErrorView.tsx
Labels: release, FrontEnd

#240 [FE] fix: 채팅 기능 수정
  frontEnd/public/main.webp
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/main.tsx
  frontEnd/src/pages/Home.tsx
Labels: FrontEnd, fix

#241 refactor: [FE] 라우팅 로딩 스피너 추가
  frontEnd/src/components/common/RouterSpinner.tsx
  frontEnd/src/main.tsx
  frontEnd/src/pages/Room.tsx
Labels: enhancement, feature, FrontEnd

#244 [FE] refactor: 이미지 preload 설정
  frontEnd/index.html
  frontEnd/src/pages/Home.tsx
Labels: enhancement, FrontEnd

#245 [FE] 프론트엔드 배포
  frontEnd/index.html
  frontEnd/public/main.webp
  frontEnd/src/components/common/RouterSpinner.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/main.tsx
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
Labels: release, FrontEnd

#246 [FE] fix: OG 이미지 수정
  frontEnd/index.html
  frontEnd/public/preview.png
Labels: FrontEnd, fix

#247 [FE] 프론트엔드 배포
  frontEnd/index.html
  frontEnd/public/preview.png
Labels: release, FrontEnd

#248 [FE] fix: 로그인 리다이렉트 세미콜론 제거
  frontEnd/src/components/room/modal/LoginModal.tsx
Labels: FrontEnd, fix

#249 [FE} 프론트엔드 배포
  frontEnd/src/components/room/modal/LoginModal.tsx
Labels: release, FrontEnd

#242 [BE] feature : 트랜잭션 AOP 분리
  backEnd/api/src/app.module.ts
  backEnd/api/src/codes/codes.controller.ts
  backEnd/api/src/codes/codes.service.ts
  backEnd/api/src/common/decorator/typeormTransactional.decorator.ts
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/transaction/transaction.decorator.ts
  backEnd/api/src/common/transaction/transaction.module.ts
  backEnd/api/src/common/transaction/transaction.service.ts
  backEnd/api/src/users/users.service.ts
Labels: feature, BackEnd

#250 [BE] fix: 컴파일이 필요한 언어 코드 실행 fix
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/supportLang.ts
Labels: BackEnd, fix

#254 [FE] feat: 소켓 연결방식 변경
  frontEnd/src/apis/getSocketURL.ts
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/utils/createSocket.ts
Labels: feature, FrontEnd

#255 [FE] refactor: crdt yjs interface 의존성 주입을 통한 결합도 낮추기
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/contexts/crdt.tsx
  frontEnd/src/services/crdt.ts
Labels: enhancement, FrontEnd

#257 [BE] fix: 회원가입 트랜잭션 범위 수정 & 타임아웃 시그널 수정
  README.md
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/common/transaction/transaction.service.ts
  backEnd/api/src/users/users.service.ts
  backEnd/running/src/codes/codes.service.ts
Labels: BackEnd, fix

#261 [BE] 릴리즈 머지
  README.md
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/common/transaction/transaction.service.ts
  backEnd/api/src/users/users.service.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/running/src/codes/codes.service.ts
Labels: BackEnd

#262 refactor: [BE] 코드 실행기능 리팩터링 및 README.md 수정
  README.md
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/common/supportLang.ts
Labels: enhancement, BackEnd

#264 [BE] refactor: 코드 실행기능 리팩터링 및 README.md 수정
  README.md
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/common/supportLang.ts
Labels: enhancement, BackEnd
