Repository boostcampwm2023/web05-AlgoITNi, pull requests merged in 2023-11, with the labels that each got.

#3 Nest 개발 전 인터셉터 및 미들웨어 셋팅
  backEnd/api/src/app.module.ts
  backEnd/api/src/decorator/query-runner.decorator.ts
  backEnd/api/src/interceptor/timeout.intercetor.ts
  backEnd/api/src/interceptor/transaction.intercetor.ts
  backEnd/api/src/logger/logger.middleware.spec.ts
  backEnd/api/src/logger/logger.middleware.ts
  backEnd/api/src/main.ts
  backEnd/api/src/utils.ts
  backEnd/running/src/app.module.ts
  backEnd/running/src/interceptor/timeout.intercetor.ts
  backEnd/running/src/logger/logger.middleware.spec.ts
  backEnd/running/src/logger/logger.middleware.ts
  backEnd/running/src/main.ts
Labels: feature

#5 config: [FE/BE] 커밋 메시지 템플릿 수정
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitmessage.txt
Labels: config

#7 [FE] feat: 프론트엔드 FE/release브랜치 풀리퀘스트에 대한 CI/CD로직 구성
  .github/workflows/front-release-deploy.yml
Labels: feature

#9 [FE] fix: yml 경로 수정
  .github/workflows/front-release-deploy.yml
Labels: feature

#10 [FE] fix: yml 레포지토리를 받아오고 의존성 설치하는 로직 추가
  .github/workflows/front-release-deploy.yml
Labels: feature

#12 [FE] fix: npm install에서 run대신 uses를 사용해서 발생한 오류 해결
  .github/workflows/front-release-deploy.yml
Labels: feature

#13 [FE] fix: aws 리전 추가하여 코드가 업로드되지 않던 오류 해결
  .github/workflows/front-release-deploy.yml
Labels: feature

#14 [FE] feat: eslint + prettier 적용
  frontEnd/.eslintrc.cjs
  frontEnd/.prettierrc
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/tsconfig.json
Labels: config

#15 [FE/BE] feat: FE githooks 및 setup 쉘 스크립트 작성
  frontEnd/.githooks/pre-commit
  frontEnd/package-lock.json
  frontEnd/package.json
  setup.sh
Labels: config

#22 [FE] fix: eslint tsconfigRootDir 추가
  frontEnd/.eslintrc.cjs
Labels: FrontEnd, fix

#23 [FE] fix: WebRTC에서 remote description이 등록되기 전에 ice candidate가 제대로 교환되지 않던 문제 해결
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/pages/Room.tsx
  frontEnd/src/services/RTC.ts
  frontEnd/src/services/Socket.ts
Labels: FrontEnd, fix

#28 [FE] config: ncp object storage에서 s3, cloudfront를 사용한 배포로 변경
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
Labels: config, FrontEnd

#29 [FE] fix: 프론트엔드 deploy 키 설정
  .github/workflows/front-release-deploy.yml
Labels: config, FrontEnd, fix

#30 [FE] 프론트엔드 배포 오류 해결
  .github/workflows/front-release-deploy.yml
Labels: release, FrontEnd, fix

#39 [FE] refactor: WebRTC 코드 useRoom으로 변경 및 .env 설정
  frontEnd/.gitignore
  frontEnd/src/hooks/useRoom.ts
  frontEnd/src/pages/Room.tsx
Labels: enhancement, FrontEnd

#33 [FE] feat: 프론트엔드 home 기능 구현
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/public/main.png
  frontEnd/src/components/Button.tsx
  frontEnd/src/hooks/useInput.ts
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/tests/Home.test.tsx
  frontEnd/src/styles/index.css
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#41 프론트엔드 배포
  frontEnd/.gitignore
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/public/main.png
  frontEnd/src/components/Button.tsx
  frontEnd/src/hooks/useInput.ts
  frontEnd/src/hooks/useRoom.ts
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Home.test.tsx
  frontEnd/src/styles/index.css
  frontEnd/tailwind.config.js
Labels: release, FrontEnd

#42 [FE] chore: 빌드시 .env설정
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
Labels: config, FrontEnd

#44 [FE] 프론트엔드 배포
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
Labels: release, FrontEnd

#34 [BE] feat: 백엔드 로거, 린트 설정 추가
  backEnd/.githooks/pre-commit
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.controller.spec.ts
  backEnd/api/src/app.controller.ts
  backEnd/api/src/app.module.ts
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/api/src/main.ts
  backEnd/api/src/users/users.controller.spec.ts
  backEnd/api/src/users/users.controller.ts
  backEnd/api/src/users/users.module.ts
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/app.module.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/main.ts
  backEnd/signaling/package-lock.json
  backEnd/signaling/package.json
  backEnd/signaling/src/app.module.ts
  backEnd/signaling/src/app.service.ts
  backEnd/signaling/src/common/logger/winstonLogger.service.ts
  backEnd/signaling/src/main.ts
  backEnd/signaling/src/webRTC/web-rtc.gateway.ts
Labels: config, BackEnd

#40 [BE] feature : api server - 파이썬 코드 실행 요청 및 보안 처리
  backEnd/api/src/app.module.ts
  backEnd/api/src/common/decorator/query-runner.decorator.ts
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/common/interceptor/serialize.interceptor.ts
  backEnd/api/src/common/interceptor/transaction.intercetor.ts
  backEnd/api/src/common/returnCode.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/run/dto/request-codeblock.dto.ts
  backEnd/api/src/run/dto/response-codeblock.dto.ts
  backEnd/api/src/run/run.controller.spec.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.spec.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/src/utils.ts
  backEnd/running/src/common/interceptor/timeout.interceptor.ts
Labels: feature, BackEnd

#35 [BE] fix: github action ci/cd 분리
  .github/workflows/back-api-cd.yml
  .github/workflows/back-api-ci.yml
Labels: BackEnd, fix

#49 [FE] 프론트엔드 코드 에디터 구현 배포
  .github/workflows/back-api-cd.yml
  .github/workflows/back-api-ci.yml
  .gitignore
  backEnd/.githooks/pre-commit
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.controller.spec.ts
  backEnd/api/src/app.controller.ts
  backEnd/api/src/app.module.ts
  backEnd/api/src/common/decorator/query-runner.decorator.ts
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/common/interceptor/serialize.interceptor.ts
  backEnd/api/src/common/interceptor/transaction.intercetor.ts
  backEnd/api/src/common/logger/winstonLogger.service.ts
  backEnd/api/src/common/returnCode.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/run/dto/request-codeblock.dto.ts
  backEnd/api/src/run/dto/response-codeblock.dto.ts
  backEnd/api/src/run/run.controller.spec.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.spec.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/src/users/users.controller.spec.ts
  backEnd/api/src/users/users.controller.ts
  backEnd/api/src/users/users.module.ts
  backEnd/api/src/utils.ts
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/app.module.ts
  backEnd/running/src/common/interceptor/timeout.interceptor.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/main.ts
  backEnd/signaling/package-lock.json
  backEnd/signaling/package.json
  backEnd/signaling/src/app.module.ts
  backEnd/signaling/src/app.service.ts
  backEnd/signaling/src/common/logger/winstonLogger.service.ts
  backEnd/signaling/src/main.ts
  backEnd/signaling/src/webRTC/web-rtc.gateway.ts
  frontEnd/.eslintrc.cjs
  frontEnd/src/components/Editor.tsx
  frontEnd/src/hooks/useRoom.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/styles/index.css
  frontEnd/tailwind.config.js
Labels: release, FrontEnd

#52 [FE] fix: STUN/TURN 실제 서버 연결
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  frontEnd/src/hooks/useRoom.ts
Labels: config, FrontEnd

#53 [FE] 프론트엔드 STUN/TURN서버 적용하여 배포
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  frontEnd/src/hooks/useRoom.ts
Labels: config, release

#56 [FE] feat: CRDT (yjs 라이브러리) 적용
  frontEnd/.eslintrc.cjs
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/components/Editor.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/styles/editor.css
  frontEnd/src/styles/index.css
Labels: feature, FrontEnd

#58 [FE] release: 코드 하이라이팅 및 yjs를 이용한 CRDT 기능 추가 배포
  frontEnd/.eslintrc.cjs
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/components/Editor.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/styles/editor.css
  frontEnd/src/styles/index.css
Labels: release, FrontEnd

#57 [BE] feat: 다중 소켓 서버를 위한 중앙 서버로직 구현
  backEnd/center/.eslintrc.js
  backEnd/center/.gitignore
  backEnd/center/.prettierrc
  backEnd/center/Dockerfile
  backEnd/center/README.md
  backEnd/center/nest-cli.json
  backEnd/center/package-lock.json
  backEnd/center/package.json
  backEnd/center/src/app.controller.spec.ts
  backEnd/center/src/app.controller.ts
  backEnd/center/src/app.module.ts
  backEnd/center/src/app.service.ts
  backEnd/center/src/common/exception/exception.filter.ts
  backEnd/center/src/connections/connections.controller.spec.ts
  backEnd/center/src/connections/connections.controller.ts
  backEnd/center/src/connections/connections.module.ts
  backEnd/center/src/connections/connections.service.spec.ts
  backEnd/center/src/connections/connections.service.ts
  backEnd/center/src/connections/dto/register-signaling-socket.dto.ts
  backEnd/center/src/connections/dto/return-connections.dto copy.ts
  backEnd/center/src/connections/dto/signaling-connections.dto.ts
  backEnd/center/src/main.ts
  backEnd/center/test/app.e2e-spec.ts
  backEnd/center/test/jest-e2e.json
  backEnd/center/tsconfig.build.json
  backEnd/center/tsconfig.json
Labels: feature, BackEnd

#48 [FE] feat: 방 입장 전 세팅 화면 구성
  frontEnd/.eslintrc.cjs
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/assets/micOff.svg
  frontEnd/src/assets/micOn.svg
  frontEnd/src/assets/videoOff.svg
  frontEnd/src/assets/videoOn.svg
  frontEnd/src/components/Button.tsx
  frontEnd/src/components/MediaSelector.tsx
  frontEnd/src/components/SettingVideo.tsx
  frontEnd/src/components/Settings.tsx
  frontEnd/src/components/Video.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/tests/useInput.test.ts
  frontEnd/src/hooks/tests/useMedia.test.ts
  frontEnd/src/hooks/useMedia.ts
  frontEnd/src/hooks/useRoom.ts
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/services/RTC.ts
  frontEnd/src/services/Socket.ts
  frontEnd/src/stores/StreamModel.ts
  frontEnd/src/stores/useSpeaker.ts
Labels: feature, FrontEnd

#61 [FE] feat: Room UI구성, Room에 입장 한 후에도 캠, 오디오 켜고 끄는 기능 추가
  frontEnd/src/components/SettingVideo.tsx
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/Header.tsx
  frontEnd/src/components/common/MediaControlButton.tsx
  frontEnd/src/components/common/Video.tsx
  frontEnd/src/components/common/tests/MediaControlButton.test.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/VideoSection.tsx
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/stores/useMediaControl.ts
Labels: feature, FrontEnd

#59 [BE] 코드 실행 요청 메시지 큐로 처리
  .github/workflows/back-api-cd.yml
  .github/workflows/back-api-ci.yml
  README.md
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.module.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/common/interceptor/timeout.intercetor.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/mq/mq.module.ts
  backEnd/api/src/mq/mq.service.ts
  backEnd/api/src/redis/redis.module.ts
  backEnd/api/src/redis/redis.service.ts
  backEnd/api/src/run/dto/response-codeblock.dto.ts
  backEnd/api/src/run/run.controller.spec.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.spec.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/test/running-code.k6.js
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/app.module.ts
  backEnd/running/src/codes/codes.module.ts
  backEnd/running/src/codes/codes.service.spec.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/mq/mq.consumer.ts
  backEnd/running/src/mq/mq.module.ts
  backEnd/running/src/redis/redis.module.ts
  backEnd/running/src/redis/redis.service.ts
Labels: feature, BackEnd

#66 [FE] feat: title추가, og태그 추가
  frontEnd/index.html
  frontEnd/public/main.svg
Labels: feature, FrontEnd

#70 [BE]: 멀티 클러스터링 채팅 소켓 통신 구현
  backEnd/chat/.eslintrc.js
  backEnd/chat/.gitignore
  backEnd/chat/.prettierrc
  backEnd/chat/Dockerfile
  backEnd/chat/README.md
  backEnd/chat/nest-cli.json
  backEnd/chat/package-lock.json
  backEnd/chat/package.json
  backEnd/chat/src/app.controller.spec.ts
  backEnd/chat/src/app.controller.ts
  backEnd/chat/src/app.module.ts
  backEnd/chat/src/app.service.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/chat/src/chat/chat.service.spec.ts
  backEnd/chat/src/chat/chat.service.ts
  backEnd/chat/src/chat/dto/join-room.dto.ts
  backEnd/chat/src/chat/dto/leave-room.dto.ts
  backEnd/chat/src/chat/dto/message.dto.ts
  backEnd/chat/src/commons/utils.ts
  backEnd/chat/src/main.ts
  backEnd/chat/test/app.e2e-spec.ts
  backEnd/chat/test/jest-e2e.json
  backEnd/chat/tsconfig.build.json
  backEnd/chat/tsconfig.json
Labels: feature, BackEnd

#63 [BE]: 중앙 트래픽 분산 서버 기능 구현
  backEnd/center/package-lock.json
  backEnd/center/package.json
  backEnd/center/src/app.module.ts
  backEnd/center/src/common/dto/common-response.dto.ts
  backEnd/center/src/common/exception/exception.ts
  backEnd/center/src/common/utils.ts
  backEnd/center/src/connections/connections.controller.ts
  backEnd/center/src/connections/connections.module.ts
  backEnd/center/src/connections/connections.service.ts
  backEnd/center/src/connections/dto/join-room.dto.ts
  backEnd/center/src/connections/dto/response-url.dto.ts
  backEnd/center/src/connections/dto/return-connections.dto copy.ts
  backEnd/center/src/connections/dto/signaling-connections.dto.ts
  backEnd/center/src/events/events.module.ts
  backEnd/center/src/events/events.service.spec.ts
  backEnd/center/src/events/events.service.ts
  backEnd/signaling/package-lock.json
  backEnd/signaling/package.json
  backEnd/signaling/src/app.module.ts
  backEnd/signaling/src/events/events.module.ts
  backEnd/signaling/src/events/events.service.spec.ts
  backEnd/signaling/src/events/events.service.ts
  backEnd/signaling/src/events/worker/cpu.worker.ts
Labels: feature, BackEnd

#69 [BE]: feature 코드 실행 타임아웃 설정
  .github/workflows/back-api-cd.yml
  backEnd/api/Dockerfile
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/interceptor/timeout.intercetor.ts
  backEnd/api/src/redis/redis.service.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.service.ts
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/decorator/timeout.decorator.ts
  backEnd/running/src/common/exception/exception.filter.ts
  backEnd/running/src/common/exception/exception.ts
  backEnd/running/src/common/interceptor/timeout.interceptor.ts
  backEnd/running/src/mq/dto/response-codeblock.dto.ts
  backEnd/running/src/mq/mq.consumer.ts
  backEnd/running/src/redis/redis.service.ts
Labels: feature, BackEnd

#76 [FE] fix: 소켓 연결 방식 변경, stream 관련 오류 해결
  frontEnd/src/hooks/useMedia.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
Labels: FrontEnd, fix

#72 [FE] feat: 공통 모달 컴포넌트 구현
  frontEnd/src/assets/cancel.svg
  frontEnd/src/components/common/ModalWrapper.tsx
  frontEnd/src/components/common/Modals.tsx
  frontEnd/src/components/common/tests/ModalWrapper.test.tsx
  frontEnd/src/hooks/useModal.ts
  frontEnd/src/main.tsx
  frontEnd/src/stores/useModalState.ts
Labels: feature, FrontEnd

#82 [FE] feat: 에디터 버튼 기능 구현 및 반응형 추가
  frontEnd/src/components/Editor.tsx
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LineNumber.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/constants/editor.ts
  frontEnd/src/constants/env.ts
  frontEnd/src/styles/editor.css
  frontEnd/src/utils/file.ts
Labels: feature, FrontEnd

#83 [FE] fix: MediaSelector에 selected 어트리뷰트로 인한 warning문제 해결
  frontEnd/src/components/setting/MediaSelector.tsx
  frontEnd/src/components/setting/SettingVideo.tsx
  frontEnd/src/hooks/useMedia.ts
  frontEnd/src/utils/Observer.ts
Labels: FrontEnd, fix

#84 [BE] 유저기능 : github 로그인, access&refresh 토큰
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.module.ts
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/auth/auth.guard.ts
  backEnd/api/src/auth/auth.module.ts
  backEnd/api/src/auth/auth.service.ts
  backEnd/api/src/auth/github/github.service.ts
  backEnd/api/src/auth/google/google.service.spec.ts
  backEnd/api/src/auth/google/google.service.ts
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/redis/redis.service.ts
  backEnd/api/src/users/dto/user.dto.ts
  backEnd/api/src/users/dto/userInfo.dto.ts
  backEnd/api/src/users/entity/user.entity.ts
  backEnd/api/src/users/users.controller.spec.ts
  backEnd/api/src/users/users.controller.ts
  backEnd/api/src/users/users.module.ts
  backEnd/api/src/users/users.service.ts
  backEnd/running/src/codes/codes.service.ts
Labels: feature, BackEnd

#87 feat: [FE] 공통 모달 애니메이션 적용
  frontEnd/src/components/common/Modal.tsx
  frontEnd/src/components/common/ModalWrapper.tsx
  frontEnd/src/components/common/Modals.tsx
  frontEnd/src/components/common/tests/ModalWrapper.test.tsx
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#96 [FE] feat: 모달이 띄워진 상태에서 esc를 누르면 꺼지는 기능 추가
  frontEnd/src/components/common/Modal.tsx
  frontEnd/src/hooks/useFocus.ts
Labels: feature, FrontEnd

#99 [BE] feature: 코드 저장 관련 CRUD 구현
  .github/workflows/back-api-cd.yml
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.module.ts
  backEnd/api/src/auth/auth.module.ts
  backEnd/api/src/codes/codes.controller.ts
  backEnd/api/src/codes/codes.module.ts
  backEnd/api/src/codes/codes.service.ts
  backEnd/api/src/codes/dto/getCode.dto.ts
  backEnd/api/src/codes/dto/saveCode.dto.ts
  backEnd/api/src/codes/dto/saveResult.dto.ts
  backEnd/api/src/codes/schemas/code.schemas.ts
  backEnd/api/src/common/exception/exception.ts
Labels: feature, BackEnd

#100 [FE] feat: 퀴즈 블록 화면 UI, 모달 UI 기능구현
  frontEnd/src/assets/click.svg
  frontEnd/src/components/common/Modal.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/modal/LinkInputModal.tsx
  frontEnd/src/hooks/useLayoutFocus.ts
  frontEnd/src/pages/Room.tsx
Labels: feature, FrontEnd

#98 [FE] feat: 로그인 모달 UI 구성
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/public/github.png
  frontEnd/public/google.png
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
Labels: feature, FrontEnd

#105 [FE] 프론트엔드 배포
  .github/workflows/back-api-cd.yml
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.module.ts
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/auth/auth.guard.ts
  backEnd/api/src/auth/auth.module.ts
  backEnd/api/src/auth/auth.service.ts
  backEnd/api/src/codes/codes.controller.ts
  backEnd/api/src/codes/codes.module.ts
  backEnd/api/src/codes/codes.service.ts
  backEnd/api/src/codes/dto/getCode.dto.ts
  backEnd/api/src/codes/dto/saveCode.dto.ts
  backEnd/api/src/codes/dto/saveResult.dto.ts
  backEnd/api/src/codes/schemas/code.schemas.ts
  backEnd/api/src/common/exception/exception.filter.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/redis/redis.service.ts
  backEnd/api/src/users/users.controller.ts
  backEnd/api/src/users/users.module.ts
  backEnd/api/src/users/users.service.ts
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/public/github.png
  frontEnd/public/google.png
  frontEnd/src/apis/AuthRequest.ts
  frontEnd/src/apis/Request.ts
  frontEnd/src/apis/postUserCode.ts
  frontEnd/src/assets/click.svg
  frontEnd/src/components/common/Modal.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/LinkInputModal.tsx
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/SuccessModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/useFocus.ts
  frontEnd/src/hooks/useLayoutFocus.ts
  frontEnd/src/pages/Room.tsx
Labels: feature, FrontEnd

#106 [FE] feat: 채팅 기능 추가
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/Header.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
  frontEnd/src/components/room/chatting/ScrollDownButton.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LineNumber.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/useLastMessageViewingState.ts
  frontEnd/src/main.tsx
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/styles/font.css
  frontEnd/src/styles/fonts/pretendard.css
  frontEnd/src/styles/fonts/pretendard/Pretendard-Black.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Black.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Bold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Bold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraBold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraBold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraLight.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraLight.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Light.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Light.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Medium.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Medium.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Regular.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Regular.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-SemiBold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-SemiBold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Thin.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Thin.woff2
  frontEnd/src/styles/index.css
  frontEnd/src/types/chatting.ts
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#108 [FE] feat: 클라우드에서 사용자 코드를 받아오는 기능구현
  frontEnd/public/fileIcon.png
  frontEnd/src/apis/getUserCodes.ts
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/codeList/CodeFileButton.tsx
  frontEnd/src/types/loadCodeData.ts
Labels: feature, FrontEnd, fix

#110 [FE] 프론트엔드 배포
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  frontEnd/public/fileIcon.png
  frontEnd/src/apis/getUserCodes.ts
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/common/Header.tsx
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/LinkInputSection.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/components/room/chatting/ChattingInput.tsx
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
  frontEnd/src/components/room/chatting/ScrollDownButton.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/EditorButton.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LineNumber.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/codeList/CodeFileButton.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/useLastMessageViewingState.ts
  frontEnd/src/main.tsx
  frontEnd/src/pages/Home.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/styles/font.css
  frontEnd/src/styles/fonts/pretendard.css
  frontEnd/src/styles/fonts/pretendard/Pretendard-Black.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Black.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Bold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Bold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraBold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraBold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraLight.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-ExtraLight.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Light.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Light.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Medium.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Medium.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Regular.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Regular.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-SemiBold.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-SemiBold.woff2
  frontEnd/src/styles/fonts/pretendard/Pretendard-Thin.woff
  frontEnd/src/styles/fonts/pretendard/Pretendard-Thin.woff2
  frontEnd/src/styles/index.css
  frontEnd/src/types/chatting.ts
  frontEnd/src/types/loadCodeData.ts
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#116 [FE] fix: 로그인에서 발생하는 이슈 해결
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/pages/Room.tsx
Labels: FrontEnd, fix

#119 [FE] refactor: 모달 개선
  frontEnd/index.html
  frontEnd/src/components/common/Modals.tsx
  frontEnd/src/components/modal/Modal.tsx
  frontEnd/src/components/modal/Modals.tsx
  frontEnd/src/components/room/ControllSection.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/LinkInputModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/SettingModal.tsx
  frontEnd/src/components/room/modal/SuccessModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/hooks/useModal.ts
  frontEnd/src/main.tsx
  frontEnd/src/stores/useModalState.ts
Labels: enhancement, feature, FrontEnd

#113 [BE] 크롤링 기능 추가
  .github/workflows/back-api-cd.yml
  backEnd/api/Dockerfile
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/app.module.ts
  backEnd/api/src/common/interceptor/timeout.intercetor.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/crawler/crawler.controller.ts
  backEnd/api/src/crawler/crawler.module.ts
  backEnd/api/src/crawler/crawler.service.ts
  backEnd/api/src/redis/redis.module.ts
  backEnd/chat/src/main.ts
Labels: feature, BackEnd

#115 [BE] feature: 코드 실행 기능 v3 & fix: 로그인 리다이렉션
  backEnd/api/package-lock.json
  backEnd/api/package.json
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/mq/mq.module.ts
  backEnd/api/src/mq/mq.service.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.module.ts
  backEnd/api/src/run/run.service.ts
  backEnd/running/package-lock.json
  backEnd/running/package.json
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/common/logger/winstonLogger.service.ts
  backEnd/running/src/common/utils.ts
  backEnd/running/src/mq/dto/response-codeblock.dto.ts
  backEnd/running/src/mq/mq.consumer.ts
  backEnd/running/src/redis/redis.service.ts
Labels: feature, BackEnd, fix

#121 [BE]: 서버 리펙토링 및 시그널링 서버 에러 제거
  backEnd/center/src/common/utils.ts
  backEnd/center/src/events/events.service.ts
  backEnd/chat/src/app.module.ts
  backEnd/chat/src/chat/chat.gateway.spec.ts
  backEnd/chat/src/chat/chat.gateway.ts
  backEnd/chat/src/chat/chat.module.ts
  backEnd/chat/src/chat/chat.service.spec.ts
  backEnd/chat/src/chat/chat.service.ts
  backEnd/chat/src/chat/dto/message.dto.ts
  backEnd/chat/src/commons/utils.ts
  backEnd/signaling/src/app.module.ts
  backEnd/signaling/src/common/utils.ts
  backEnd/signaling/src/events/events.module.ts
  backEnd/signaling/src/webRTC/dto/user-id.dto.ts
  backEnd/signaling/src/webRTC/web-rtc.gateway.ts
  backEnd/signaling/src/webRTC/web-rtc.module.ts
  backEnd/signaling/src/webRTC/web-rtc.service.spec.ts
  backEnd/signaling/src/webRTC/web-rtc.service.ts
Labels: BackEnd, fix

#127 [FE] feat: 채팅 닉네임 표시 기능 추가
  frontEnd/src/components/room/ChattingSection.tsx
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/constants/chattingSocketEvents.ts
  frontEnd/src/constants/env.ts
  frontEnd/src/constants/rtcSocketEvents.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/types/chatting.ts
Labels: feature, FrontEnd

#128 [FE] feat: react-query 적용
  frontEnd/package-lock.json
  frontEnd/package.json
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/configs/reactQueryClient.ts
  frontEnd/src/constants/queryKeys.ts
  frontEnd/src/main.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/utils/authFailCallback.ts
Labels: enhancement, FrontEnd

#132 [FE] 코드 로드시 경고창 추가
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/WarningCodeLoadModal.tsx
Labels: feature, FrontEnd

#134 [FE] feat: 코드 목록에서 삭제하는 기능 추가
  frontEnd/src/apis/deleteUserCodes.ts
  frontEnd/src/assets/cancelIcon.svg
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/WarningModal.tsx
  frontEnd/src/components/room/modal/codeList/CodeFileButton.tsx
Labels: feature, FrontEnd

#138 [FE] feat: 랜덤 닉네임 적용
  frontEnd/src/components/setting/Settings.tsx
  frontEnd/src/pages/Room.tsx
  frontEnd/src/utils/randomNameGenerator.ts
Labels: feature, FrontEnd

#135 [FE] feat: 에디터 로컬 파일 업로드 다양한 타입 지원
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/Editor.tsx
  frontEnd/src/components/room/editor/EditorHeader.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/LanguageTypeDropDown.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/constants/editor.ts
  frontEnd/src/hooks/useDataChannelOnMessage.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/types/RTCConnection.ts
  frontEnd/src/types/editor.ts
  frontEnd/src/utils/file.ts
  frontEnd/src/utils/highlightCode.ts
  frontEnd/src/utils/sendMessageDataChannels.ts
Labels: feature, FrontEnd

#148 [FE] feat: 코드 수정하기
  frontEnd/src/apis/putUserCode.ts
  frontEnd/src/components/common/Button.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/SaveChoiceModal.tsx
  frontEnd/src/stores/useModifyState.ts
  frontEnd/tailwind.config.js
Labels: feature, FrontEnd

#155 [FE] fix: api 오타 수정
  frontEnd/src/apis/putUserCode.ts
Labels: FrontEnd, fix

#152 [BE] feature: 개발용 토큰 발급
  .github/workflows/back-api-cd.yml
  backEnd/api/.gitignore
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/auth/auth.service.ts
  backEnd/api/src/auth/google/google.service.ts
  backEnd/api/src/main.ts
Labels: feature, BackEnd

#159 [FE] feat: 로그인 쿠키 테스트 환경 구축 & 구글 로그인 기능 추가
  frontEnd/.eslintrc.cjs
  frontEnd/src/apis/AuthRequest.ts
  frontEnd/src/apis/Request.ts
  frontEnd/src/apis/getDevCookie.ts
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/vite.config.ts
Labels: feature, config, FrontEnd

#161 [FE] feat: 코드 실행 기능 추가
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  frontEnd/src/apis/getSocketURL.ts
  frontEnd/src/apis/postRunCode.ts
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/types/runCode.ts
  frontEnd/src/utils/dateFormatter.ts
  frontEnd/src/utils/getOutputString.ts
  frontEnd/vite.config.ts
Labels: feature, FrontEnd

#162 [FE] 프론트엔드 배포
  .github/workflows/back-api-cd.yml
  .github/workflows/front-ci.yml
  .github/workflows/front-release-deploy.yml
  backEnd/api/.gitignore
  backEnd/api/src/auth/auth.controller.ts
  backEnd/api/src/auth/auth.service.ts
  backEnd/api/src/auth/google/google.service.ts
  backEnd/api/src/codes/codes.controller.ts
  backEnd/api/src/codes/codes.module.ts
  backEnd/api/src/codes/dto/getCode.dto.ts
  backEnd/api/src/codes/dto/saveCode.dto.ts
  backEnd/api/src/codes/pipes/saveCode.pipe.ts
  backEnd/api/src/codes/schemas/code.schemas.ts
  backEnd/api/src/common/exception/exception.ts
  backEnd/api/src/common/type.ts
  backEnd/api/src/common/utils.ts
  backEnd/api/src/main.ts
  backEnd/api/src/mq/mq.service.ts
  backEnd/api/src/run/dto/request-codeblock.dto.ts
  backEnd/api/src/run/pipes/saveCode.pipe.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.service.ts
  backEnd/running/src/codes/codes.controller.ts
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/codes/dto/request-code.dto.ts
  backEnd/running/src/codes/dto/response-code.dto .ts
  backEnd/running/src/common/type.ts
  backEnd/running/src/common/utils.ts
  backEnd/running/src/mq/dto/response-codeblock.dto.ts
  backEnd/running/src/mq/mq.consumer.ts
  frontEnd/.eslintrc.cjs
  frontEnd/src/apis/AuthRequest.ts
  frontEnd/src/apis/Request.ts
  frontEnd/src/apis/getDevCookie.ts
  frontEnd/src/apis/getSocketURL.ts
  frontEnd/src/apis/postRunCode.ts
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/InputArea.tsx
  frontEnd/src/components/room/editor/OutputArea.tsx
  frontEnd/src/components/room/modal/LoginModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/constants/env.ts
  frontEnd/src/hooks/useRTCConnection.ts
  frontEnd/src/pages/Room.tsx
  frontEnd/src/pages/tests/Room.test.tsx
  frontEnd/src/types/runCode.ts
  frontEnd/src/utils/dateFormatter.ts
  frontEnd/src/utils/getOutputString.ts
  frontEnd/vite.config.ts
Labels: release, FrontEnd

#163 [BE] feature : javascript 보안검사, 에러메세지 처리 기능 추가
  backEnd/api/.gitignore
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/test.js
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/codes/errorMessage.ts
Labels: feature, BackEnd

#160 [FE] 코드 불러오기, 저장, 수정시 제목과 언어타입도 변경하도록 처리
  frontEnd/src/apis/postUserCode.ts
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/SaveChoiceModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/types/editor.ts
  frontEnd/src/types/loadCodeData.ts
  frontEnd/src/utils/file.ts
  frontEnd/vite.config.ts
Labels: feature, FrontEnd

#170 [FE] 프론트엔드 배포
  backEnd/api/.gitignore
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
  backEnd/api/test.js
  backEnd/running/src/codes/codes.service.ts
  backEnd/running/src/codes/errorMessage.ts
  frontEnd/src/apis/postUserCode.ts
  frontEnd/src/components/room/EditorSection.tsx
  frontEnd/src/components/room/editor/LoadButton.tsx
  frontEnd/src/components/room/editor/SaveButton.tsx
  frontEnd/src/components/room/modal/CodeListModal.tsx
  frontEnd/src/components/room/modal/SaveChoiceModal.tsx
  frontEnd/src/components/room/modal/SaveModal.tsx
  frontEnd/src/components/room/modal/tests/SaveModal.test.tsx
  frontEnd/src/types/editor.ts
  frontEnd/src/types/loadCodeData.ts
  frontEnd/src/utils/file.ts
  frontEnd/vite.config.ts
Labels: feature, FrontEnd

#171 [FE] fix: 내가 보낸 채팅에 내 닉네임이 표시되도록 변경
  frontEnd/src/components/room/chatting/ChattingMessage.tsx
Labels: enhancement, FrontEnd

#165 [BE] feature : 코드 실행 요청 v3 - 소켓만 이용
  backEnd/api/src/common/utils.ts
  backEnd/api/src/run/run.controller.ts
  backEnd/api/src/run/run.gateway.ts
  backEnd/api/src/run/run.service.ts
Labels: BackEnd, fix

#172 [FE] refactor: highlight.js 사용하는 언어만 import 하도록 수정
  frontEnd/src/configs/highlightCodeConfig.ts
  frontEnd/src/utils/highlightCode.ts
Labels: enhancement, FrontEnd

#174 [FE] feat: QuizSection, ControllSection, Modal 렌더링 최적화
  frontEnd/src/components/modal/Modals.tsx
  frontEnd/src/components/room/QuizViewSection.tsx
  frontEnd/src/hooks/useModal.ts
  frontEnd/src/stores/useModalState.ts
  frontEnd/vite.config.ts
Labels: enhancement, FrontEnd
